.intro {
  width:40%;
  
  padding:3.5rem 0;
}

.intro-header {
  text-align: center;
  align-self: end;
}

.intro-section {
  padding:2rem;
  color:var(--grayish);
}

.intro-section--content {
  height: 100%;
  background-color: var(--blackish-secondary);
  padding:3rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
  border-radius: 1.5rem;
}

.intro-section--content__heading,
.intro-section--content__text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.intro-section--content__text {
  color:var(--gray)
}

.intro-section--content__choice{
  height:40%;
  width:85%;
  margin:0 auto 3rem auto;
  border-radius: 1.2rem;
  padding:1rem;
  overflow: hidden;
  background-color: var(--blackish);
}


.choice--o,
.choice--x {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.choice--x{
  
  float:left;
  background-image: url('../assets/icon-x-gray.svg');
  
}

.choice--o {
  float:right;
  background-image: url('../assets/icon-o-gray.svg');

}

.choiced{
  background-color: var(--grayish);
  border-radius: 1rem;
}

.choiced.choice--o {
  background-image: url('../assets/icon-o-transparent.svg')
}

.choiced.choice--x {
  background-image: url('../assets/icon-x-transparent.svg');
}



.intro-section--button {
  position:relative;
}

.btn--intro{
  position:absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, -50%);
  width:50%;
  background-color: var(--yellowish);
  
}




/* MAIN LOGIC */
.main {
  width:60%;
}

.main-show-turn {
  padding:1.5rem 2.5rem;
  background-color: var(--blackish-secondary);
  color:var(--grayish);
  border-radius: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.main-show-turn img {
  height:20px;

}


.main-restart {
  padding:1.6rem;
  background-color: var(--grayish);
  border-radius: 1rem;
}

.main-content {
  height:60%;
  width:40%;
  margin:0 auto;
  background-color: var(--blackish);
  grid-template-columns: repeat(3, 1fr);
}

.box {
  height:100%;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  background-color: var(--blackish-secondary);
  border-radius: 10px;
  border:2px solid var(--blackish-tertiary);

}

.player-x-score,
.ties,
.player-o-score {
  padding:1rem 3rem;
  color:var(--blackish);
  font-size:2rem;
  font-weight: 300;
  border-radius: 1rem;
  border:none;
  box-shadow: inset 0 -3px 2px rgba(0, 0, 0, .3);
  text-transform: uppercase
}

.player-x-score {
  background-color: var(--dark-cyan);
}

.ties {
  background-color: var(--grayish);
}

.player-o-score {
  background-color: var(--yellowish);
}

.player-x-score__result,
.ties__result,
.player-o-score__result {
  text-align: center;
  font-weight: bold;
  
}

/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--blackish-secondary);
  margin: 17% auto; /* 17% from the top and centered */
  /* height:30%; */
  padding: 4rem 0;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* ovo ces u js da dodas */
.modal-content__text {
  color: var(--dark-cyan);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.modal-content__congr {
  color:var(--gray);
  text-align: center;
  text-transform: uppercase;
  font-size:1.5rem;
  margin-bottom: 1.5rem;
}

.btn--quit,
.btn--next-round {
  padding:2rem 4rem;
}

.btn--quit {
  background-color: var(--grayish);
}

.btn--next-round {
  background-color: var(--yellowish);
}



/***********************************************/
/* JS style */


.hovered,
.clicked,
.o-winner,
.x-winner {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.o-hovered {
  background-image: url("../assets/icon-o-outline.svg");
}

.x-hovered {
  background-image: url("../assets/icon-x-outline.svg");
}

.o-clicked {
  background-image: url("../assets/icon-o.svg");
}

.x-clicked {
  background-image: url("../assets/icon-x.svg");
}

.x-winner {
  background-color: var(--dark-cyan);
  background-image: url('../assets/icon-x-transparent.svg') !important;
}

.o-winner {
  background-color: var(--yellowish);
  background-image: url("../assets/icon-o-dark.svg") !important;
}










